div(class="container-fluid  d-flex flex-column justify-content-center align-items-center bg-white")
    div(class=" content-img d-flex flex-row justify-content-center align-items-center")
      img.my-2(src=user.image, alt="photo du profil")
    div(class="d-flex ")
       form.w-100.my-3(action="/users/update/image/" method="POST" class="d-none" enctype="multipart/form-data" )
         input.form-control(type="file", name="profil")
    div(class=" my-3")
      p(class="d-flex flex-row" )=` ${user.username} (${user.local.email})`
    div(class="d-flex flex-row my-3 justify-content-center text-center w-100")
      div(class="flex-fill")
        p 
         strong Tweets
         br
         span
          - let nbreTweets=tweets.filter(tweet=>tweet.author._id.toString()===user._id.toString()).length
             strong(id=`${user._id}`).nbre-tweets.text-primary=`${ nbreTweets && nbreTweets.length!=0 ?nbreTweets :"-"}`
             p=user._id
      div(class="flex-fill")
        p 
         strong Following
         br
         span
             strong.text-primary=`${user.following && user.following.length ? user.following.length:"-"}` 
script(type="module", src="/javascripts/profil.js")   